/* styles.css */
.sign-up-form-container {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.success-message {
  color: green;
}

.error-message {
  color: red;
}

.authenticate-container {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #0edf0e;
  text-align: center;
}

.username {
  margin-top: 10px;
  font-weight: bold;
}
